#!/usr/bin/env python
PACKAGE = "rosneuro_processing"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Dynamic integrator parameters
gen.add("eog_filter_fcoff1",	 double_t, 0, "Frequency 1",   1.0, 0.0, 256.0)
gen.add("eog_filter_fcoff2",	 double_t, 0, "Frequency 2",   10.0, 0.0, 256.0)
gen.add("eog_threshold",	 double_t, 0, "EOG Threshold",   30.0, 1.0, 60.0)

exit(gen.generate(PACKAGE, "eogbci_parameters", "EogBci"))
