#!/usr/bin/env python
PACKAGE = "cybathlon_eog"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Dynamic integrator parameters
gen.add("eog_threshold",	 double_t, 0, "EOG Threshold",   83.0, 1.0, 200.0)
gen.add("eog_period",	 double_t, 0, "EOG time wait",   2.0, 0.0, 15.0)

exit(gen.generate(PACKAGE, "cybathlon_eog", "EogDetector"))
